<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
{% load static %}
   <head>
      <meta charset="utf-8"/>
      <title>Chat Rooms</title>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
      <link rel="stylesheet" type="text/css" href="../../static/chat/style.css">
   </head>


<body>
      <div id="container" class="containerBoard">
          <button id="Rules" onclick="openStoryline()">Rules</button>
          <button class="btn" onclick="logout()">Logout</button>

        <div class="room">
          <div class="rooms">
            <button class="nirav" onclick="closeRooms()">&times;</button>
			      <h3> OPEN PLAYING ROOMS </h3><br><br>

    			  {% for room in rooms %}
    			  <li class="room-link" id="{{ room.title }}" onclick='openroom(this)'>{{ room }}</li>

    			  {% empty %}
    			  <em> NO PLAYING ROOM OPEN .....CREATE NEW ROOM ;)</em><br/>
    			  <a href="{% url 'create_room' %}">Create New Room</a>
    			  {% endfor %}
          </div>
        </div>

        <div class="anagram">
          <div class="one"><h1>A</h1></div>
          <div class="two"><h1>N</h1></div>
          <div class="three"><h1>A</h1></div>
          <div class="four"><h1>G</h1></div>
          <div class="five"><h1>R</h1></div>
          <div class="six"><h1>A</h1></div>
          <div class="seven"><h1>M</h1></div>
          <br>
          <div class="eight"><h1>C</h1></div>
          <div class="nine"><h1>H</h1></div>
          <div class="ten"><h1>A</h1></div>
          <div class="eleven"><h1>L</h1></div>
          <div class="twelve"><h1>L</h1></div>
          <div class="thirteen"><h1>E</h1></div>
          <div class="fourteen"><h1>N</h1></div>
          <div class="fifteen"><h1>G</h1></div>
          <div class="sixteen"><h1>E</h1></div>
        </div>

        <button class="enterRoom" onclick="openRooms()" style="cursor: pointer;">Rooms</button>
       <!-- This part is to show the rules -->
        <div class="newsline">
          <div class="upperTriangle"></div>
          <button class="btnForClose" type="button" onclick="closeStoryline()">&times;</button>
          <h1>Real Time Anagram Challenge Rules</h1>
          <br><br><br><br>
          <p>1) Press the send button for getting question as well as for submitting answer.</p><br>
          <p>2) Correct answer first will give you 100 points.And no negative marking</p><br>
          <p>3) Please use your own network connection, it will not work on BITS server</p><br>
          <p>4) We hope you all will enjoy the first ever REAL-TIME Anagram Challenge</p>

          <!-- <div class="lowerTriangle"></div> -->
        </div>
      </div>

      <div class="visual">
        <img src="https://cdn.dribbble.com/users/232486/screenshots/2136002/logo-clip.gif">
      </div>

      <script>
     function openroom(e) {
        var roomName = e.id;
        window.location.pathname = '/chat/' + roomName + '/';
      };


        function logout(){
            window.location.pathname='logout';
        }

        function openStoryline()
        {
            document.getElementsByClassName('newsline')[0].style.display = 'block';
            document.getElementsByClassName('newsline')[0].classList.remove("revert");
        }

        function closeStoryline()
        {
            document.getElementsByClassName('newsline')[0].classList.add("revert");
            setTimeout(function(){
                document.getElementsByClassName('newsline')[0].style.display = 'none';
            }, 600);
        }
   </script>

   <script type="text/javascript">

      setTimeout(function() {
        document.getElementsByClassName("one")[0].classList.add("shadowAnimate");
      }, 200);

      setTimeout(function() {
        document.getElementsByClassName("two")[0].classList.add("shadowAnimate");
      }, 400);

      setTimeout(function() {
        document.getElementsByClassName("three")[0].classList.add("shadowAnimate");
      }, 600);

      setTimeout(function() {
        document.getElementsByClassName("four")[0].classList.add("shadowAnimate");
      }, 800);

      setTimeout(function() {
        document.getElementsByClassName("five")[0].classList.add("shadowAnimate");
      }, 1000);

      setTimeout(function() {
        document.getElementsByClassName("six")[0].classList.add("shadowAnimate");
      }, 1200);

      setTimeout(function() {
        document.getElementsByClassName("seven")[0].classList.add("shadowAnimate");
      }, 1400);

      setTimeout(function() {
        document.getElementsByClassName("eight")[0].classList.add("shadowAnimate");
      }, 1600);

      setTimeout(function() {
        document.getElementsByClassName("eight")[0].classList.add("shadowAnimate");
      }, 1800);

      setTimeout(function() {
        document.getElementsByClassName("nine")[0].classList.add("shadowAnimate");
      }, 2000);

      setTimeout(function() {
        document.getElementsByClassName("ten")[0].classList.add("shadowAnimate");
      }, 2200);

      setTimeout(function() {
        document.getElementsByClassName("eleven")[0].classList.add("shadowAnimate");
      }, 2400);

      setTimeout(function() {
        document.getElementsByClassName("twelve")[0].classList.add("shadowAnimate");
      }, 2600);

      setTimeout(function() {
        document.getElementsByClassName("thirteen")[0].classList.add("shadowAnimate");
      }, 2800);

      setTimeout(function() {
        document.getElementsByClassName("fourteen")[0].classList.add("shadowAnimate");
      }, 3000);

      setTimeout(function() {
        document.getElementsByClassName("fifteen")[0].classList.add("shadowAnimate");
      }, 3200);

      setTimeout(function() {
        document.getElementsByClassName("sixteen")[0].classList.add("shadowAnimate");
      }, 3400);

      var lineOne = document.getElementsByClassName("lineOne");
      var colorArray = ['rgb(255,0,0)', 'rgb(100,0,0)', 'rgb(255,255,0)', 'rgb(100,100,0)', 'rgb(0,255,0)', 'rgb(0,100,0)', 'rgb(0,255,255)', 'rgb(0,100,100)'];

      var colorArraySecond = ['rgb(0,0,0)','rgb(10,10,10)','rgb(20,20,20)','rgb(30,30,30)','rgb(40,40,40)','rgb(50,50,50)','rgb(60,60,60)','rgb(70,70,70)','rgb(80,80,80)','rgb(90,90,90)','rgb(100,100,100)','rgb(110,110,110)','rgb(120,120,120)','rgb(130,130,130)','rgb(140,140,140)', 'rgb(150,150,150)', 'rgb(160,160,160)', 'rgb(170,170,170)', 'rgb(180,180,180)', 'rgb(190,190,190)', 'rgb(200,200,200)', 'rgb(210,210,210)'];

      for (var i = 0,j = 0; i < lineOne.length, j < colorArraySecond.length; i++,j++)
      {
        if (j == colorArraySecond.length-1) {
          j = 0;
        }
        lineOne[i+1].style.backgroundColor = colorArraySecond[j];
      }

      function openRooms(){
        document.getElementsByClassName('room')[0].style.display = 'block';
        document.getElementsByClassName('rooms')[0].style.display = 'block';
        document.getElementsByClassName('room')[0].style.width = '70vw';
        document.getElementsByClassName('rooms')[0].style.width = '70vw';
      }

      function closeRooms() {
        document.getElementsByClassName('room')[0].style.display = 'none';
        document.getElementsByClassName('rooms')[0].style.display = 'none';
        document.getElementsByClassName('room')[0].style.width = 0;
        document.getElementsByClassName('rooms')[0].style.width = 0;
      }
   </script>


</body>

</html>
