<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
</head>
    <div class="col s12 black darken-2 main-content" id="question-div">
          <!-- Question Div Goes Here -->
           <div id='title' class="center">
               <h3>PLAYING ARENA</h3>
               <a href="{% url 'logout' %}">LOGOUT</a>
          
                Hello, <span id="user-username">{{ request.user.username }}</span>.
 
            <!--{% if user.is_authenticated %}    {% endif %}-->   
    </div>
<body>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" size="70"/><br/>
    <input id="chat-message-submit" type="button" value="Send "/>
</body>                                                                     
<script>
    var roomName = {{ room_name_json }};    //in views we used room_name_json  in room view as 
    //console.log(roomName);                  // 'room_name_json':mark_safe(json.dumps(room_name)
    
    
    
    //creating a Web Socket connection
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');
     
    
    
    chatSocket.onopen = function (message) {
        
        
        console.log("Connected to chat socket");// Display user friendly messages for the successful establishment of     
        //console.log("Got websocket message " + message.data); //connection
        //var data = JSON.parse(message.data);
        //var ok_msg = "";
        //ok_msg = "<div class='contextual-message text-muted'>" + data.username + " joined the room!" +       " </div>"
    };
    chatSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        var message = data['message'];
        var msg_typed = data['msg_typed'];
        var msg_typed = true;
        var other_user = "rashi";
        var username = data['username'];
        var room_id = data['room_id'];
        var dict_ = data['dict_'];    //{"room_name": "room1", "data": [["abc", 2100], ["f20170325", 1100]]}

        //var ques = data['ques'];
        
        
        console.log("Got websocket message " + event.data);
        console.log(dict_['data'][0][0]);
        console.log(dict_['data'][0][1]);
        //var msgdiv = $("#room-" + data.room_id + " .messages");
        if (message==""){
             var ok_msg = "";
             ok_msg = "<div class='message'>" +"<span>" + data.room_id+"</span">+
                                        "<span class='username'>" + data.username + "</span>" +
                                         "<span class='body'>" + data.message + "</span>" +
                                         "</div>";
            
            
            //msgdiv.append(ok_msg);
            //msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            console.log(data.username + ":" + data.message);
            //console.log(ok_msg + 'this is ok_msg');
            //chatSocket.send("from server :" +message);
            //document.querySelector('#chat-log').value += (message + '\n');
            document.querySelector('#chat-log').innerHTML += (data.username +':'+ message + '\n');
            //document.querySelector('#chat-log').value += (user + '\n');
            }
           else {
           var ok_msg = "";
             ok_msg = "<div class='message'>" +"<span>" + data.room_id+"</span">+
                                       "<span class='username'>" + data.username + "</span>" +
                                         "<span class='body'>" + data.message + "</span>" +
                                         "</div>";
            //msgdiv.append(ok_msg);
            //msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            
            
            console.log(data.username + ":" + data.message);
            //console.log(ok_msg + 'this is ok_msg');
            //chatSocket.send("from server :" +message);
            //document.querySelector('#chat-log').value += (message + '\n');
            document.querySelector('#chat-log').innerHTML += (data.username +':'+ message + '\n');
            //document.querySelector('#chat-log').value += (user + '\n');
         
             }
          

    };
        
        //if (data['is_logged_in']) {document.querySelector('#chat-log').value += (data.username + ': Online');}
        //else {document.querySelector('#chat-log').value += (data.username + ': Offline');}
        
    
    chatSocket.onclose = function() {
        console.error('Chat socket closed unexpectedly');
        setTimeout(function() {
      connect();
    }, 1000);
    };
    document.querySelector('#chat-message-input').focus();
          document.querySelector('#chat-message-input').onkeyup = function(e) {
              if (e.keyCode === 13) {  // enter, return
                  document.querySelector('#chat-message-submit').click();
              }
          };
                                                                                
        //  document.querySelector('#chat-message-user').focus();
        //  document.querySelector('#chat-message-user').onkeyup = function(e) {
        //      if (e.keyCode === 13) {  // enter, return
        //          document.querySelector('#chat-message-submit').click();
        //      }
        //  };
          document.querySelector('#chat-message-submit').onclick = function(event) {
               var messageInputDom = document.querySelector('#chat-message-input');
               var message = messageInputDom.innerHTML;
              var user_ = document.getElementById('user-username').innerHTML;
               
                       DATA = chatSocket.send(JSON.stringify({
                   'message': message,
                  'other_user'   : "rashi",
                  "user_"     :user_,
                   'msg_typed':true
               }));
               console.log("daaatttaaaaaa");
               console.log(DATA);
              //messageUser.value = ''; //
              messageInputDom.value = '';
        };

</script>
</html>