<!DOCTYPE html>
<html lang="en">
   <head>
   	{% load static %}
      <title>SPORTZILLA 2018</title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static 'chat/sportzilla.css' %}" />
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
      <script type="text/javascript">

         $(document).ready(function() {
            $("#loginLink").mouseover(function() {
               $(".fa-angle-right").addClass("moveRight");
            });
            $("#loginLink").mouseout(function() {
               $(".fa-angle-right").removeClass("moveRight");
            });
         });

      </script>
	</head>
	<body>
      <!-- <div class="container">
   		<img alt="bodybg" src="{% static 'chat/icons/sports.png' %}" id="bodybgl" class="bodybg">

   		<div id="bosmlogo">
   			<img alt="bosmlogo" class="logoyaar" src="{% static 'chat/icons/logo.png' %}">
   		</div>
    --><!--
   		<div id="cc" class="text">
   			<img alt="cclogo" class="cclogohai" id="codingLogo" src="../static/chat/icons/cclogo1.png" style="background: transparent;">
   		</div>
         <button class="button" onclick="window.location.assign('/accounts/google/login/?process=login')" id="loginLink"><b>LOGIN</b></button>
      </div> -->
      <div class="container">
     		<img alt="bosmlogo" class="logoyaar" src="{% static 'chat/icons/logo.png' %}">
        <img alt="cclogo" class="cclogohai" id="codingLogo" src="../static/chat/icons/cclogo1.png">
        <div id="title" class="text">
        	SPORTZILLA<br>2018
        </div>
        <button id="loginLink" onclick="window.location.assign('/accounts/google/login/?process=login')"><b>LOGIN</b></button>
      </div>

	</body>  
</html>
